<%- include('partials/header.ejs') %>



  <body class="container">
    <h1>Adeoye Ibukun</h1>
    <h2>Books I've read</h2>

    <p class="intro-introparagraph">Books I have read and my reviews. I'd rate them over 10 and say if it is a worthy
      read
    </p>
    <p>Sorted with my <span class="bold-text">top recommendations up top:</span> Sort by: <a href="/by-title">Title</a>
      <a href="/by-most-recent">Most recent</a> <a href="by-rating">Rating</a></p>
    <hr>
    <!-- books -->
    <div class="card-container">

      <% if (locals.result) { %>
        <% result.forEach(result=> { %>
          <div class="card">
            <img src="images/<%= result.book_cover %>" alt="How to cope with difficult people book cover">
            <h3><a href="#">
                <%= result.title %> - BY <%= result.author %>
              </a></h3>
            <p class="review-info">DATE READ: <%= result.date_read %>. RATING: <strong>
                  <%= result.rating %>
                </strong>/10.</p>
            <p class="review-text">
              <%= result.review %>
            </p>
          </div>
          <% }); %>

            <% } else { %>
              <h1>No Books to show</h1>
              <% } %>
    </div>


    <!-- Great book for anyone that is a person. Exposes the little things that one might not even
          consider about people. This
          book really shaped my mindset on dealing with people. Must-read for everyone. -->












  </body>

  </html>